# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
app/.nuxt/

# Node dependencies
node_modules
app/node_modules/

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example=
config.yml
users.yml
.pnpm-store

venv/
__pycache__
*.pyc
db.sqlite3